.header-items{
  Color: #333333;
  font-family: 'ProximaNova-Regular';
}
#page{
  background-color: #F0FCE3;
  clear: both;
}
#top{
  min-height: 50px;
  line-height: 54px;
  font-weight: 64%;
 
}
#left{
  float: left;
}
#right{
  float: right;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}